/* hide scrollbars but keep scrolling functionality */
.no-scrollbar {
  overflow: auto;
  resize: vertical; /* change to 'none' if you want to disable resize */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}